{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4 mb-3">
        <h2>Fauna Debt Manager</h2>
      </div>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} text-center" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="row">
    <div class="col-12 mb-3" align="right">
      <button data-toggle="modal" data-target="#addLoanModal" class="btn btn-primary">Add Loan</button>
    </div>

    <div class="col-lg-12 table-responsive">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Update Loan</th>
            <th>Clear Loan</th>
          </tr>
        </thead>
        <tbody>
          {% for loan in loans_data %}
          <tr>
            <td id="loan-{{ loan.ref.id() }}">{{ loan.data.name }}</td>
            <td>${{ "{:,.2f}".format(loan.data.amount) }}</td>
            <td>{{ loan.data.date_created|faunatimefilter }}</td>
            <td>
              <button data-toggle="modal" data-target="#updateLoanModal" class="btn btn-primary" onclick="updateLoan('{{ loan.ref.id() }}')">Update Loan</button>
            </td>
            <td>
              <a href="{{ url_for('clear_loan', loan_id=loan.ref.id()) }}" class="btn btn-danger">Clear Loan</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Add Loan Modal -->
  <div class="modal fade" id="addLoanModal" tabindex="-1" role="dialog" aria-labelledby="addLoanModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addLoanModalLabel">Add Loan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form method="POST" action="{{ url_for('add_loan') }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" required>
            </div>

            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" class="form-control" name="amount" step="0.01" required>
            </div>

            <div class="form-group">
              <label for="date">Date</label>
              <input type="date" class="form-control" name="date" required>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Add Loan</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Update Loan Modal -->
  <div class="modal fade" id="updateLoanModal" tabindex="-1" role="dialog" aria-labelledby="updateLoanModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateLoanModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form method="POST" action="{{ url_for('update_loan') }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="action">Action</label>
              <select class="form-control" id="action" name="action">
                <option>Borrow More</option>
                <option>Repay Loan</option>
              </select>
            </div>

            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" class="form-control" name="amount" step="0.01" required>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="hidden" id="updateLoanID" name="loanID">
            <button class="btn btn-primary" type="submit">Update Loan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}